In [392]:
import pandas as pd
import nltk 
import re

import string
from tqdm import tqdm

In [393]:
df1=pd.read_csv("E:\Data\IMDB_Amazon.txt",sep='\t',header=None)

In [394]:
df1.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [395]:
'''df2=df1.rename(columns={'0': 'Reviews','1': 'Rating'},inplace=True)
   when we use rename() its not showing any output'''

"df2=df1.rename(columns={'0': 'Reviews','1': 'Rating'},inplace=True)\n   when we use rename() its not showing any output"

In [396]:
columan_name = ['Review', 'Sentiment']
df1.columns = columan_name

In [397]:
df1

                                                Review  Sentiment
0    So there is no way for me to plug it in here i...          0
1                          Good case, Excellent value.          1
2                               Great for the jawbone.          1
3    Tied to charger for conversations lasting more...          0
4                                    The mic is great.          1
..                                                 ...        ...
995  The screen does get smudged easily because it ...          0
996  What a piece of junk.. I lose more calls on th...          0
997                       Item Does Not Match Picture.          0
998  The only thing that disappoint me is the infra...          0
999  You can not answer calls with the unit, never ...          0

[1000 rows x 2 columns]

In [398]:
df1["Review"]=df1["Review"].str.lower()
df1

                                                Review  Sentiment
0    so there is no way for me to plug it in here i...          0
1                          good case, excellent value.          1
2                               great for the jawbone.          1
3    tied to charger for conversations lasting more...          0
4                                    the mic is great.          1
..                                                 ...        ...
995  the screen does get smudged easily because it ...          0
996  what a piece of junk.. i lose more calls on th...          0
997                       item does not match picture.          0
998  the only thing that disappoint me is the infra...          0
999  you can not answer calls with the unit, never ...          0

[1000 rows x 2 columns]

In [399]:
#Here I am creating two dataframe so that I can show the data cleaning process
#                        """df1 is used to clear text without regualr expression"""
#                        """df2 is used to clear text with regualr expression"""
df2=df1.copy()

In [400]:
sent_100=review.values[100]
sent_100

'integrated seamlessly with the motorola razr phone.'

In [401]:
 re.sub(r'[\,\.\?\"\;\:\'\@\-\#]',"",sent_100)

'integrated seamlessly with the motorola razr phone'

In [402]:
df1.shape

(1000, 2)

In [403]:
df1.Sentiment.value_counts()

1    500
0    500
Name: Sentiment, dtype: int64

In [404]:
df1.isnull().sum()

Review       0
Sentiment    0
dtype: int64

# Data Cleaning

In [405]:
len(review)

1000

# Their are two ways to remove punctuation from a data set

## 1. Creating a function

In [406]:
punc=string.punctuation
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [407]:
def remove_punc(sentence):
    punc_free=[]
    
    
    word_token=nltk.word_tokenize(sentence)
    
    for i in word_token:
        if i not in punc:
            punc_free.append(i)
            
    return punc_free

In [408]:
df1["Review"]=df1["Review"].apply(lambda x:remove_punc(x))

In [409]:
df1

                                                Review  Sentiment
0    [so, there, is, no, way, for, me, to, plug, it...          0
1                       [good, case, excellent, value]          1
2                           [great, for, the, jawbone]          1
3    [tied, to, charger, for, conversations, lastin...          0
4                                [the, mic, is, great]          1
..                                                 ...        ...
995  [the, screen, does, get, smudged, easily, beca...          0
996  [what, a, piece, of, junk.., i, lose, more, ca...          0
997                  [item, does, not, match, picture]          0
998  [the, only, thing, that, disappoint, me, is, t...          0
999  [you, can, not, answer, calls, with, the, unit...          0

[1000 rows x 2 columns]

## 2. Using regular expression

In [410]:
def removing_punctuation_using_regex(sentences):
    preprocessed_data=[]
    for i in df2["Review"].values:
    
        data=re.sub('[\,\.\?\"\;\:\'\@\^\&\/\!\-\#\(\)\%]',' ',i)
        preprocessed_data.append(data)
    return preprocessed_data

In [411]:
# Since the text is stored in list [type(preprocessed_data)] therefore we have to convert it into dataframe.
preprocessed_data=pd.DataFrame(preprocessed_data)
preprocessed_data=preprocessed_data.set_axis(['Text'], axis=1, inplace=False)# Since the df did't have any col name
preprocessed_data.head()

                                                Text
0  so there is no way for me to plug it in here i...
1                        good case  excellent value
2                             great for the jawbone
3  tied to charger for conversations lasting more...
4                                  the mic is great

## Removing StopWords

We are removing stopwords by creating a function

In [412]:
stopwords=nltk.corpus.stopwords.words('english')

In [413]:
def removing_stopwords(sentence):
    stopword_free=[]
#     word_token=nltk.word_tokenize(sentence)
    for i in sentence:
        
        if i not in stopwords:
            stopword_free.append(i)
    return stopword_free

In [414]:
#removing_stopwords("I has integrated seamlessly with the motorola razr phone")

In [415]:
df1["Review"]=df1["Review"].apply(lambda x:removing_stopwords(x))

In [416]:
df1

                                                Review  Sentiment
0               [way, plug, us, unless, go, converter]          0
1                       [good, case, excellent, value]          1
2                                     [great, jawbone]          1
3    [tied, charger, conversations, lasting, 45, mi...          0
4                                         [mic, great]          1
..                                                 ...        ...
995  [screen, get, smudged, easily, touches, ear, f...          0
996                [piece, junk.., lose, calls, phone]          0
997                             [item, match, picture]          0
998        [thing, disappoint, infra, red, port, irda]          0
999               [answer, calls, unit, never, worked]          0

[1000 rows x 2 columns]

In [417]:
sent_3=df1["Review"].values[3]
sent_3

['tied',
 'charger',
 'conversations',
 'lasting',
 '45',
 'minutes.major',
 'problems']

In [422]:
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer as tfidf
from sklearn.pipeline import Pipeline

In [430]:
x=df1.Review.values
y=df1.Sentiment.values

In [431]:
from sklearn.model_selection import train_test_split
x_train,y_train,x_test,y_test = train_test_split(x,y,test_size=0.2, random_state=10)

In [432]:
x_train.shape, y_train.shape

((800,), (200,))

In [447]:
x_test.shape, y_test.shape

((800,), (200,))

In [427]:
x.shape

(1000,)

In [423]:
tfidf=TfidfVectorizer()

In [424]:
x=tfidf.fit_(df1.Review)

AttributeError: 'list' object has no attribute 'lower'